<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--/*/ <th:block th:include="fragments/shared/dashboard-links.html :: links">
        </th:block> /*/-->
    </head>
    <body class="hold-transition sidebar-mini">
        <div class="wrapper" th:with="group = ${session.userRole}">
            <div th:replace="~{fragments/shared/header :: header}"></div>
            <th:block th:if="${group == 'ROLE_ADMIN'}">
                <div th:replace="~{fragments/shared/sidebar :: sidebar}"></div>
            </th:block>            
            <th:block th:if="${group == 'ROLE_MANAGER'}">
                <div th:replace="~{fragments/shared/msidebar :: sidebar}"></div>
            </th:block>                   
            <!--Page content starts-->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <div th:replace="~{fragments/shared/pageheader :: context}"></div>

                <!-- Main content -->
                <section class="content">
                    <div th:if="${message}" class="row">
                        <div th:replace="~{fragments/message :: message}"></div>                        
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title" th:text="${#strings.capitalizeWords(module)}">Form</h3>
                                </div>
                                <form action="#" th:action="@{${action}}" th:object="${entity}" method="post" role="form">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <input type="text" th:field="*{id}" class="form-control" id="id" style="display: none">
                                        </div>
                                        <div class="form-group">
                                            <label for="name">Item name</label>
                                            <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="example- Rui Mas">
                                            <span 
                                                th:if="${#fields.hasErrors('name')}" 
                                                th:errors="*{name}"
                                                class="text-danger">
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <label for="type">Category</label>
                                            <input type="text" th:field="*{type}" class="form-control" id="type" placeholder="Example- Fish">
                                            <span 
                                                th:if="${#fields.hasErrors('type')}" 
                                                th:errors="*{type}"
                                                class="text-danger">
                                            </span>
                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </section>
            </div>
            <!--Page content starts-->
            <footer th:replace="~{fragments/shared/footer :: footer}"></footer>
        </div>
    </body>
</html>
