<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--/*/ <th:block th:include="fragments/shared/dashboard-links.html :: links">
        </th:block> /*/-->
    </head>
    <body class="hold-transition sidebar-mini">
        <div class="wrapper" th:with="group = ${session.userRole}">
            <div th:replace="~{fragments/shared/header :: header}"></div>
            <th:block th:if="${group == 'ROLE_ADMIN'}">
                <div th:replace="~{fragments/shared/sidebar :: sidebar}"></div>
            </th:block>
            <th:block th:if="${group == 'ROLE_MANAGER'}">
                <div th:replace="~{fragments/shared/msidebar :: sidebar}"></div>
            </th:block>
            <!--Page content starts-->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <div th:replace="~{fragments/shared/pageheader :: context}"></div>
                <!-- Main content -->
                <section class="content">
                    <div th:if="${message}" class="row">
                        <div th:replace="~{fragments/message :: message}"></div>                        
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="card card-primary" th:if="${entity}">
                                <div class="card-header">
                                    <h3 class="card-title">User Registration Form</h3>
                                </div>
                                <div class="card-body">
                                    <form action="#" th:action="@{${action}}" th:object="${entity}" method="post" role="form">
                                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                        <div class="form-group hide">
                                            <input type="hidden" th:field="*{id}" class="form-control" id="id">
                                            <input type="hidden" th:field="*{username}" class="form-control" id="username">
                                        </div>
                                        <!--                                        <div class="form-group">
                                                                                    <div class="form-group col-12">
                                                                                        <label>Role Name</label>
                                                                                        <select th:field="*{roles}" multiple required>
                                                                                            <option th:each="role : ${roleList}" th:value="${role.id}" th:text="${role.roleName}">
                                                                                            </option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>-->
                                        <th:block th:if="${#strings.endsWith(action,'register')}">
                                            <div class="form-group">
                                                <label for="email">Email or phone</label>
                                                <input th:field="*{email}"  class="form-control" id="email">
                                                <span 
                                                    th:if="${#fields.hasErrors('email')}"
                                                    th:errors="*{email}"
                                                    class="text-danger">
                                                </span>
                                            </div>
                                            <div class="form-group">
                                                <label for="password">Password</label>
                                                <input th:field="*{password}"  class="form-control" id="password">
                                                <span 
                                                    th:if="${#fields.hasErrors('password')}"
                                                    th:errors="*{password}"
                                                    class="text-danger">
                                                </span>
                                            </div>
                                        </th:block>
                                        <th:block th:if="${#strings.endsWith(action,'update')}">
                                            <div class="form-group">
                                                <label for="email">New Email or phone (Optional)</label>
                                                <input th:field="*{email}"  class="form-control" id="email">
                                                <span 
                                                    th:if="${#fields.hasErrors('email')}"
                                                    th:errors="*{email}"
                                                    class="text-danger">
                                                </span>
                                            </div>
                                            <div class="form-group">
                                                <label for="password">New Password (Optional)</label>
                                                <input type="password" th:field="*{password}"  class="form-control" id="password">
                                                <span 
                                                    th:if="${#fields.hasErrors('password')}"
                                                    th:errors="*{password}"
                                                    class="text-danger">
                                                </span>
                                            </div>
                                            <div class="form-group">
                                                <label for="oldPassword">Confirm Old Password</label>
                                                <input type="password" name="oldPassword"  class="form-control" id="oldPassword">
                                            </div>
                                        </th:block>
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </section>
            </div>
            <!--Page content starts-->
            <footer th:replace="~{fragments/shared/footer :: footer}"></footer>
        </div>
    </body>
</html>
