<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="links">        
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Hostel Management</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/dist/fontawesome-free/css/all.min.css}">
        <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
        <link rel="stylesheet" th:href="@{/dist/css/ionicons.min.css}">
        <link rel="stylesheet" th:href="@{/dist/css/Sans_Pro_300_400_400i_700.css}">
        <link rel="stylesheet" th:href="@{/dist/css/custom.css}">
        
        <script th:src="@{/dist/js/jquery-3.4.1.min.js}"></script>
        <script th:src="@{/dist/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/dist/js/adminlte.min.js}"></script>
    </head>
    <body></body>
</html>
