<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--/*/ <th:block th:include="fragments/shared/dashboard-links.html :: links">
        </th:block> /*/-->
    </head>
    <body>

        <footer th:fragment="footer" class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Hostel Management System</b> Version 1.0.0
            </div>
            <strong>For any query, mail at <a href="mailto:yasiraraphatdu@gmail.com">yasiraraphat@gmail.com</a>.</strong> All rights reserved.
        </footer>

    </body>
</html>
