<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="links">        
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/dist/fontawesome-free/css/all.min.css}">
        <link rel="stylesheet" th:href="@{/dist/css/bootstrap.css}">
        <link rel="stylesheet" th:href="@{/dist/css/style.css}">
        
        <script th:src="@{/dist/js/jquery-3.4.1.min.js}"></script>
        <script th:src="@{/dist/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/dist/js/bootstrap.min.js}"></script>
    </head>
    <body>
        
    </body>
</html>
